*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

/* .container{
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    margin-top: 40px;
} */
.container h1 , .container h2{
    text-align: center;
    padding: 10px 0;
}

.sobre p{
    font-size: 1.2em;
}

.container #projetos-container{
    margin-top: 40px;
    min-height: 70vh;
}
#projetos-container h2{
    font-weight: bold;
    font-size: 1.8em;
}

/* .projetos{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
} */

.projeto-card{
    /* width: 340px; */
    background-color: #fff;

    /* position: relative; */

    /* margin: 30px; */

    margin-bottom: 60px;
    border-radius: 8px;
    box-shadow: 4px 10px 16px -6px rgba(0,0,0,0.51);
    
    

    transition: all ease-in-out 0.4s;
}
.projeto-card:hover{

    transform: scale(1.05);
}

.projeto-card img{
    width: 100%;
    
    object-fit: cover;
    object-position: top;

    height: 200px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #d0cccc;

}
.info{
    padding: 20px;
    height: 130px;

}
.info h3{
    font-size: 1.1em;
    min-height: 40px;
}

.info2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
}
.info2 span{
    font-weight: bold;
}
.info2 span:nth-child(1){
    color: #E44D26;
}
.info2 span:nth-child(2){
    color: cornflowerblue;
}
.info2 span:nth-child(3){
    color: #000;
}
.info2 span:nth-child(4){
    color: #649d66;
}


.info2 a{
    text-decoration: none;

    padding: 8px 12px;

    background-color: #84e;
    color: #F5F5F5;
    border-radius: 8px;

    grid-column-start: 5;
}



footer{
    width: 100%;


    padding: 10px;
    text-align: center;
}
footer a{
    color: cornflowerblue;
}
