*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --violet: hsl(256, 26%, 20%);
    --dark-violet: hsl(270, 9%, 17%);

    --gray-violet:  hsl(273, 4%, 51%);
    --blue: hsl(216, 30%, 68%);

    --light-gray: hsl(0, 0%, 98%);
}

body{
    font-family: 'Karla', sans-serif;
    padding-top: 100px;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1440px;
    margin: 0 auto;

    padding-left: 5%;
    padding-right: 5%;
}
h1,h2,h3,h4{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;

}
/* menu */

header{
    width: 100%;
        
    padding: 25px 0;

    background-color: #fff;
    position: fixed;

    top: 0;
    left: 0;

    z-index: 999;

    box-shadow: 0 0 3px rgb(0, 0, 0,0.7);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 50px;
}
nav ul{
    width: 500px;

    display: flex;
    justify-content: space-between;    
    list-style: none;
}
nav ul li{
    color: var(--gray-violet);
    letter-spacing: 3px;

    font-weight: 700;
    font-size: 14px;
}
li .button{
    border: 3px solid var(--dark-violet);
    color: var(--dark-violet);
    padding: 16px 26px;

    transition: all ease 0.8ms;
}
li .button:active{
    background-color: var(--dark-violet);
    color: var(--light-gray);
}
nav ul li:active{
    color: var(--dark-violet);
}

/* introduçao */
#introduction{
    background-color: var(--violet);

    color: var(--light-gray);

    height: 600px;
    position: relative;
}
#introduction .svg{
    position: absolute;
}
#introduction .svg.right{
    top: -80px;
    right: 0;
    z-index: 1;
}
#introduction .svg.left{
    left: 0;
    top: 450px;
}

.intro-grid{
    padding-top: 100px;
    display: grid;

    grid-template-columns: 1fr 1fr;

}
.intro-grid article{
    width: 550px;

    align-self: flex-start;
    

    padding-top: 30px;

    position: relative;
}
article::after{
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 150px;
    
    height: 2px;
    background-color: var(--light-gray);
}
article h1{
    width: 500px;
    font-size: 4.5em;

    line-height: 70px;
}
article p{
    padding: 25px 0;
    line-height: 26px;
}
.intro-grid img{
    width: 100%;
    justify-self: flex-end;
}
button.button{
    background-color: var(--violet);

    border: 3px solid var(--light-gray);

    color: var(--light-gray);
    padding: 16px 26px;

    outline: none;

    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: 3px;

    transition: all ease 0.8ms;
}
button.button:active{
    background-color: var(--light-gray);
    

    color: var(--dark-violet);
  
}

/* prices */

#prices{
    margin-top: 350px;
}

#prices article h1{
    padding: 60px 0;
    position: relative;
    color: var(--dark-violet);

}
#prices h1::after{
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 150px;
    
    height: 2px;
    background-color: var(--gray-violet);
}
#prices article .price-cards{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    
}
.price-cards .card{
    width: minmax(200px,400px);
    height: 300px;
    
    align-self: center;
}

/* work */
#how-we-work{
    margin: 100px 0;
}
.work{
    background-color: var(--violet);

    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 30px 80px;
}
.work h1{
    align-self: center;
    justify-self: center;
    font-size: 3em;

    color: var(--light-gray);
}
.work .button{
    width: 200px;
    align-self: center;
    justify-self: flex-end;
}



/* footer */
footer{
    width: 100%;
    background-color: var(--light-gray);
    padding: 50px 0;

    position: relative;

    min-height: 400px;
}
footer .svg.svg.left{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
footer .footer-top{
    position: relative;
    padding-bottom: 50px;
}
.footer-top .socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    position: relative;
}

.footer-top::after{
    content: "";

    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    
    border-bottom: 1px solid var(--gray-violet);
}

/* footer menu grid */
.footer-grid-menu{
    margin-top: 50px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    position: relative;
}
.footer-menu{
    max-width: 250px;
    width: 100%;
    display: grid;
    grid-template-rows: 50px repeat(4,30px) ;
}
.footer-menu span{
    font-weight: 700;
    color: var(--gray-violet);
}
.footer-menu li{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark-violet);
}

/* responsive */
