*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --violet: hsl(256, 26%, 20%);
    --dark-violet: hsl(270, 9%, 17%);

    --gray-violet:  hsl(273, 4%, 51%);
    --blue: hsl(216, 30%, 68%);

    --light-gray: hsl(0, 0%, 98%);
}

body{
    font-family: 'Karla', sans-serif;
    padding-top: 100px;
}

/* titulos fonte = font-family: 'DM Serif Display', serif; */
a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1440px;
    margin: 0 auto;

    padding-left: 5%;
    padding-right: 5%;
}
h1,h2,h3,h4{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;

}
/* menu */

header{
    width: 100%;
        
    padding: 25px 0;

    background-color: #fff;
    position: fixed;

    top: 0;
    left: 0;

    z-index: 999;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 50px;
}
nav ul{
    width: 500px;

    display: flex;
    justify-content: space-between;    
    list-style: none;
}
nav ul li{
    color: var(--gray-violet);
    letter-spacing: 3px;

    font-weight: 700;
    font-size: 14px;
}
li .button{
    background-color: var(--dark-violet);
    color: var(--light-gray);
    padding: 16px 26px;
}
nav ul li:active{
    color: var(--dark-violet);
}

/* introduçao */
#introduction{
    background-color: var(--violet);

    color: var(--light-gray);

    height: 600px;
    position: relative;
}
#introduction .svg{
    position: absolute;
}
#introduction .svg.right{
    top: -80px;
    right: 0;
    z-index: 1;
}
#introduction .svg.left{
    left: 0;
    top: 450px;
}

.intro-grid{
    padding-top: 100px;
    display: grid;

    grid-template-columns: 1fr 1fr;

}
.intro-grid article{
    width: 550px;

    align-self: flex-start;
    

    padding-top: 30px;

    position: relative;
}
article::after{
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 150px;
    
    height: 2px;
    background-color: var(--light-gray);
}
article h1{
    width: 500px;
    font-size: 4.5em;

    line-height: 70px;
}
article p{
    padding: 25px 0;
    line-height: 26px;
}
.intro-grid img{
    justify-self: flex-end;
}

button.button{
    background-color: var(--light-gray);
    padding: 16px 26px;

    outline: none;
    border: 0;
    font-weight: 700;

    color: var(--dark-violet);
    text-transform: uppercase;
    letter-spacing: 3px;
}